odoo14-addon-ssi-work-log-mixin
odoo14-addon-ssi-master-data-mixin
odoo14-addon-ssi-transaction-confirm-mixin
odoo14-addon-ssi-transaction-done-mixin
odoo14-addon-ssi-transaction-open-mixin
odoo14-addon-ssi-transaction-cancel-mixin
odoo14-addon-ssi-financial-accounting
odoo14-addon-ssi-account-account-m2o-configurator-mixin
odoo14-addon-ssi-account-journal-m2o-configurator-mixin
odoo14-addon-ssi-res-partner-m2o-configurator-mixin
odoo14-addon-ssi-m2o-configurator-mixin
odoo14-addon-ssi-company-currency-mixin
odoo14-addon-ssi-accounting-entry-mixin
odoo-yaml-test
